# (neo)vim
neovim/local.vim
neovim/plugged
neovim/.netrwhist
neovim/parser
neovim/parser-info

# emacs
emacs/.emacs.desktop
emacs/auto-save-list/
emacs/elpa/
emacs/ido.last
emacs/projectile.cache
emacs/projectile-bookmarks.eld

neovim/lazy-lock.json
.luarc.json
